# Shortcuts

Shortcut | Command
--- | ---
Shift+Tab | Open Help
Strg+Enter | Run cell
Shift+Enter | Run cell and select next cell
Alt+Enter | Run cell and insert cell below
Strg+# | Convert marked lines into comments (German Keyboard)
a | Insert cell above marked cell
b | Insert cell below marked cell
m | Convert cell to markdown type
y | Convert cell to code type

# Datatypes

In [4]:
integer_name = 1

In [33]:
print(integer_name)
floatingpoint = 1.5

complexnumber = 1 + 1j

string1 = 'absj'
string2 = "ab'sj"
string3 = '''absj'''
string4 = """absj"""
print(string4)

print(f'Integer value: {integer_name}')

1
absj
Integer value: 1

# Arithmetic operations

In [47]:
1 + 1
2 - 1
#2 ** 2
#10_000
#2*10e4
#1*10**4
#41/2
#40//2

1

# Collections

In [12]:
# List

l = [integer_name, '123', [1, 2, 3,4 ], 1 + 1j]
print(l)

[1, '123', [1, 2, 3, 4], (1+1j)]

In [13]:
l.append(5)
l

[1, '123', [1, 2, 3, 4], (1+1j), 5]

In [14]:
m = [30, 40]
l.extend(m)
l

[1, '123', [1, 2, 3, 4], (1+1j), 5, 30, 40]

In [12]:
# Indexing and Slicing

print(l[0])
print(l[-1])
print(l[0:-1])
print(l[0:-1:2])
print(l[::2])

1
(1+1j)
[1, '123', [1, 2, 3, 4]]
[1, [1, 2, 3, 4]]
[1, [1, 2, 3, 4]]

In [13]:
# Tuple
t = (1, 2, 3)
print(t)

(1, 2, 3)

In [14]:
# Collection operations (Be careful):
t2  = (9, 8, 7)
print(t + t2)
print(t * 3)

(1, 2, 3, 9, 8, 7)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
# Dict

In [16]:
dictionary = {
    'a': 1,
    2: 'b',
    'c': 3,
}
dictionary

{'a': 1, 2: 'b', 'c': 3}

In [17]:
dictionary[2]

'b'

In [18]:
dictionary.keys()

dict_keys(['a', 2, 'c'])

In [19]:
dictionary.values()

dict_values([1, 'b', 3])

In [20]:
dictionary.items()

dict_items([('a', 1), (2, 'b'), ('c', 3)])

In [21]:
dictionary = {}

## Collections exercise

Create a list of 10 elements consisting of the first 10 alphabet letters

In [1]:
# your implementation here

Create another list that contains the 10 elements from above in reversed order

In [ ]:
# your implementation here

Create a dictionary with two key-value pairs.
First key 'A' contains the first list with 10 alphabet letters in correct order, and second key 'B' contains the second list with the reversed order letters.

In [2]:
# your implementation here

Create three tuples of size 1 and add them to a list. Each tuple shall contain a dictionary with 5 keys that are enumerated integers and the corresponding values are these integers times ten.
Each tuple's dictionary is continuing the enumeration of the previous dictionary.
Print each key and value pair by iterating through the list.

# Conditions

In [16]:
a = 6
if a <= 2:
    b = 2
elif a < 10:
    b = 3
else:
    b = 4
b

3

In [20]:
if (a == 2) and (b == 3):
    c = 3

In [22]:
d = None
if a == 2 or d is None:
    if d is not None:
        c = None

# Loops

In [23]:
l = list(range(5))
l2 = []
for entry in l:
    print(entry ** 2)
    l2.append(entry ** 2)

for index in range(len(l)):
    print(l[index] ** 2)
    l2.append(l[index] ** 2)
    
for index, entry in enumerate(l):
    print(entry ** 2)
    l2.append(entry ** 2)
    
print(l2)
    
l

0
1
4
9
16
0
1
4
9
16
0
1
4
9
16
[0, 1, 4, 9, 16, 0, 1, 4, 9, 16, 0, 1, 4, 9, 16]

[0, 1, 2, 3, 4]

# List comprehensions:

In [24]:
l = list(range(50))

l2 = [entry ** 2 for entry in l]
# print(l2)
l2 = [
    entry ** 2
    for entry in l
    if entry ** 2 >= 100
]
print(l2)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

# Dict comprehensions

In [26]:
d2 = {
    entry: entry ** 2
    for entry in l
    if entry ** 2 >= 100
}
d2

{10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401}

# Functions

In [27]:
def sub(a_val, b_val):
    """Calculate a - b"""
    return a_val - b_val

a = 2
b = 1

print(sub(a, b))
print(sub(b, a))
print(sub(b_val=b, a_val=a))
print(sub(a_val=a, b_val=b))

1
-1
1
1

# Classes

In [28]:
class Dog:
    """Represents a dog."""
    def __init__(self, name):
        self.name = name
        
    def sit(self):
        print(self.name, 'is sitting.')
        
dog = Dog('Lucky')

In [29]:
dog.sit()

Lucky is sitting.

## Function and Classes exercise
Write a class `Cat` with an init function that takes `breed` as argument and sets the same attribute.

If the `breed` argument is neither 'Balinese' nor 'Bengal', an error statement is to be printed.

Give the cat a function `pet()`: If the cat is balinese, print 'meow', if the cat is bengal, print 'purr'.

Create a class `CrazyCatLady` which initializes without arguments an attribute `cats`, which is a list of 10 balinese and 5 bengal cats.

Create a class-function `throw`, which removes one cat from her set of cats.

Create a class-function `talk_to_cats`, which returns a dictionary of her remaining cats with keys being random names and values being the corresponding cat.

# Outlook numerical computing

Matrix Multiplication.
Program the multiplication of the matrices with `for` loops:

In [28]:
A = [
    [1, 2, 3],
    [4, 5, 6],
]
B = [
    [7, 8],
    [9, 10],
    [11, 12],
]
C = [
    [0, 0],
    [0, 0],
]

# C = A * B
for i, a_ in enumerate(A):
    for a, b_ in zip(a_, B):
        for j, b in enumerate(b_):
            C[i][j] += a * b

C

[[58, 64], [139, 154]]

In [29]:
import numpy as np
np.matmul(A, B)

array([[ 58,  64],
       [139, 154]])